<div>
  <div class="pt-3">
    <!-- <div>
      <mat-label class="heading">Calibration Request</mat-label>
    </div> -->
  </div>

  <!-- Table End -->

  <!-- form start -->
  <div class="new_bor pt-1 pb-3">
    <div class="row px-4 pt-3 align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname"> Date</mat-label>
          </div>
          <div class="col-8">
            <!-- <input bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" type="text" [(bsValue)]="date" *ngIf="show"> -->
            <input type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MMM/YYYY' }"  class="form-control input_text"  [(ngModel)]="registerDetails.date" />
            <!-- <input type="date"  class="form-control " (change)="year()" [(ngModel)]="registerDetails.date" /> -->
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname"> Request Type</mat-label>
          </div>
          <div class="col-8">
            <select name="" id="" class="form-control input_text" [(ngModel)]="registerDetails.RequestType"(change)="getRequestTypeDetails(this)">
              <option disabled selected value="undefined">--Select--</option>
              <option *ngFor="let data of  CalibrationRequestof; let i = index" [value]="data.CalibrationRequest">
                {{data.CalibrationRequest}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname"> ShedulNo/BreakageNo</mat-label>

          </div>
          <div class="col-8">
            <input type=" search" class="form-control" [(ngModel)]="registerDetails.BreakageNo" />
          </div>
        </div>
      </div>
       -->

       <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname">ShedulNo/BreakageNo</mat-label>
          </div>
          <div class="col-8">
            <select name="" id="" class="form-control input_text" [(ngModel)]="registerDetails.BreakageNo">
              <option disabled selected value="undefined">--Select--</option>
              <option *ngFor="let data of  Requesttypelist; let i = index" [value]="data.id">
                {{data.BreakageNo}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname">  Calibration Type</mat-label>
          </div>
          <div class="col-8">
            <select name="" id="" class="form-control input_text" [(ngModel)]="registerDetails.calibrationtype">
              <option disabled selected value="undefined">--Select--</option>
              <option *ngFor="let data of calibrationtypeof; let i = index" [value]="data.calibrationtype">
                {{data.calibrationtype}}
              </option>
            </select>
          </div>
        </div>
      </div> -->

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname">  InstrumentCode</mat-label>
          </div>
          <div class="col-8">
            <select name="" id="" class="form-control input_text" [(ngModel)]="registerDetails.InstrumentCode"(change)="instrumentcodeclick($event)">

              <option disabled selected value="undefined">--Select--</option>
              <option *ngFor="let data of InstrumentCodeof; let i = index" [value]="data.InstrumentCode+','+data.InstrumentName">
                {{data.InstrumentCode}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname"> Instrument Name</mat-label>
          </div>
          <div class="col-8">
            <select name="" id="" class="form-control input_text" [(ngModel)]="registerDetails.InstrumentName">
              <option disabled selected value="undefined">--Select--</option>
              <option *ngFor="let data of InstrumentNameof; let i = index" [value]="data.InstrumentName">
                {{data.InstrumentName}}
              </option>
            </select>
          </div>
        </div>
      </div> -->


      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname">
              Instrument Name</mat-label>
          </div>
          <div class="col-8">
            <input type=" search" class="form-control" [(ngModel)]="registerDetails.InstrumentName" />
          </div>
        </div>
      </div>


      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname">  Calibration Type</mat-label>
          </div>
          <div class="col-8">
            <select name="" id="" class="form-control input_text" [(ngModel)]="registerDetails.calibrationtype">
              <option disabled selected value="undefined">--Select--</option>
              <option *ngFor="let data of calibrationtypeof; let i = index" [value]="data.calibrationtype">
                {{data.calibrationtype}}
              </option>
            </select>
          </div>
        </div>
      </div>


     

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname">
              Last Party Identification</mat-label>
          </div>
          <div class="col-8">
            <!-- <textarea type="text" class="form-control input_text"></textarea> -->
            <input type=" search" class="form-control" [(ngModel)]="registerDetails.LPIdentification" />
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname"> Party</mat-label>
          </div>
          <div class="col-8">
            <!-- <textarea type="text" class="form-control input_text"></textarea> -->
            <select name="" id="" class="form-control input_text" [(ngModel)]="registerDetails.Party">
              <option selected disabled value="undefined">Select</option>
              <option *ngFor="let data of Party; let i = index" [value]="data.CardName">
                {{data.CardName}}
              </option> 
            </select>
          </div>
        </div>
      </div>

      <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname"> Quantity</mat-label>
            
          </div>
          <div class="col-8">
           

            <input type="text"   class="form-control" [(ngModel)]="registerDetails.Quantity"  />
            
            
          </div>
        </div>
      </div> -->


      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname"> Calibration Location</mat-label>
          </div>
          <div class="col-8">
            <!-- <textarea type="text" class="form-control input_text"></textarea> -->
            <select name="" id="" class="form-control input_text" [(ngModel)]="registerDetails.calibrationlocation">                 
            <option value="">--select--</option>
              <option value="Internal">Internal</option>
              <option value="External">External</option>
            </select>
          </div>
        </div>
      </div>



      <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname"> Raise Dc </mat-label>
          </div>
          <div class="col-8">

            <input type="text" class="form-control" [(ngModel)]="registerDetails.RaiseDc" />
          </div>
        </div>
      </div> -->

      
      <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="row form-group align-items-center">
          <div class="col-4">
            <mat-label class="gene_name newname"> Serial No</mat-label>
          </div>
          <div class="col-8">
            <textarea type="text" class="form-control input_text"></textarea>
          </div>
        </div>
      </div> -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
      </div>
    
      <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
    
          <div class="row form-group" >
            <div class="col-4" >
              <span>
                <button mat-stroked-button class="submit-button" (click)="reset()">CLEAR</button>
              </span>
            </div>
            <div class="col-4" >
              <span>
                <button mat-flat-button id="color_sv" class="submit-button" *ngIf="!registerDetails.id" (click)="store()">
                  ADD
                </button>
                <button
                  mat-flat-button
                  id="color_sv"
                  class="submit-button"
                  *ngIf="registerDetails.id"
                  (click)="update()"
                >
                  Update
                </button>
              </span>
            </div>
          </div>
     
      </div>

      
    </div>
  </div>
</div>

<br />




<div class="searchbox">
  <button class="btn btn-dark mr-2">
    RaiseDc
  </button>
  <div class="has-search text-right">
    <span class="fa fa-search form-control-feedback" slot="end"></span>
    <input
      type="text"
      class="search"
      placeholder="Search"
      (keyup)="onKeySearch($event)"
      (input)="Empty()"
      placeholder="Search {{ SearchField }}"
      [(ngModel)]="searchvalue"
    />
  </div>
</div>

<div class="pt-3 mb-3">
  <table class="table  table-borderless table-responsive table-hover">
    <thead>
      <tr class="header_color text-nowrap">
        <td
          scope="col"
          *ngFor="let head of TableHeading; let i = index"
          class="gene_name tablethtd"
          [style.background-color]="i == HighlightHead ? ' #427caa' : '#dfdfdf'"
          (click)="Click_Head(i, head.name)"
        >
          {{ head.name }}
        </td>
      </tr>
    </thead>
    <tbody class="table table-sm text-nowrap">
      <tr *ngFor="let data of collection  | searchfilter: searchvalue:['RequestType',]; let i = index">
        <td class="gene_name tablethtd">{{ i + 1 }}</td>
        <td class="gene_name tablethtd">{{ data.date | date: 'dd-MMM-yyyy,  h:mm a' }}</td>
        <td class="gene_name tablethtd">{{ data.RequestType }}</td>
        <td class="gene_name tablethtd">{{ data.BreakageNo }}</td>

        <!-- <td class="gene_name tablethtd">{{ data.calibrationtype }}</td> -->
        <td class="gene_name tablethtd">{{ data.InstrumentCode }}</td>
        <td class="gene_name tablethtd">{{ data.InstrumentName }}</td>
                <td class="gene_name tablethtd">{{ data.calibrationtype }}</td>

        <td class="gene_name tablethtd">{{ data.LPIdentification }}</td>
        <td class="gene_name tablethtd">{{ data.Party }}</td>
        <!-- <td class="gene_name tablethtd">{{data.Quantity }}</td> -->
        <td class="gene_name tablethtd">{{ data.calibrationlocation }}</td>
        <!-- <td class="gene_name tablethtd">{{data.RaiseDc }}</td> -->
        <td class="gene_name tablethtd">
          {{ data.createdAt | date: "dd-MMM-yyyy,  h:mm a" }}
        </td>
        <td class="gene_name tablethtd">{{ data.createdBy }}{{user_name}} </td>
        <td class="gene_name tablethtd">
          {{ data.updatedAt | date: "dd-MMM-yyyy,  h:mm a" }}
        </td>
        <td class="gene_name tablethtd">{{ data.updatedBy }}{{user_name}}</td>
      

        <td><input type="checkbox"></td>
        <td class="gene_name tablethtd icons">
          <i
            class="fa fa-pencil-square-o"
            aria-hidden="true"
            (click)="getUser(data)"
          ></i>
        </td>
        <td class="gene_name tablethtd dicons">
          <i class="fa fa-trash" aria-hidden="true" (click)="deleteUsers(data.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>