<h1 mat-dialog-title>Frequency Schedule</h1>

<div mat-dialog-content>
   
    <mat-form-field appearance="fill">
      <mat-label></mat-label>
     
        <mat-label>reason?</mat-label>
        <input matInput >
      
    </mat-form-field>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" routerLink="header/calibrationrequest"  (click)="onNoClick()">  
    ok</button>
</div>


  <!-- <div mat-dialog-actions>
    <button mat-button  style="margin-left: 50px"(click)="onNoClick()">submit</button>
  </div> -->
  
  