<h1 mat-dialog-title>Rejected BreakageDetails</h1>



    <!-- <mat-form-field appearance="fill">
      <mat-label></mat-label>
     
        <mat-label> Reason</mat-label>
        <input matInput >
      
    </mat-form-field>
  </div> -->



  


  <!-- <div mat-dialog-actions>
    <button routerLink="header/ScrapApproval" mat-button (click)="onNoClick()">  
    Scrap</button>
</div>

<div mat-dialog-actions>
    <button routerLink="header/calibrationrequest" mat-button (click)="onNoClick()">  
    Service</button>
</div> -->






  




 
  
  